<div id="titleContainer"><h1>GreenChargeFinder</h1></div>

<div class="grid">
  <div>
    <div class="firstGrid">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div>
          <label for="carBrand">Marque de la voiture :</label>
          <datalist id="carBrand" name="carBrand" required>
            <option *ngFor="let brand of brands" [value]="brand">
              {{ brand }}
            </option>
          </datalist>
          <input
            (input)="onCarInput($event)"
            [(ngModel)]="carBrand"
            autoComplete="on"
            list="carBrand"
            name="carBrand"
          />
        </div>
        <div>
          <label for="startCity">Ville de depart :</label>
          <datalist id="startCity" name="startCity" required>
            <option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </option>
          </datalist>
          <input
            (input)="onUserInput($event, true)"
            [(ngModel)]="startCity"
            autoComplete="on"
            list="startCity"
            name="startCity"
          />
        </div>
        <div>
          <label for="endCity">Ville d'arrive :</label>
          <datalist id="endCity" name="endCity" required>
            <option *ngFor="let city of citiesArrived" [value]="city">
              {{ city }}
            </option>
          </datalist>
          <input
            (input)="onUserInput($event, false)"
            [(ngModel)]="endCity"
            autoComplete="on"
            list="endCity"
            name="endCity"
          />
        </div>
        <button type="submit">Calculer</button>
      </form>
      <div *ngIf="resultat" class="">
        <hr/>
        <p>Temps de Trajet : {{ resultat }}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="secondGrid">
      <button (click)="checkPrice()" type="submit">
        Savoir le cout du trajet ?
      </button>
      <div *ngIf="price" class="">
        <hr/>
        <p>le coût du trajet est environs : {{ price }} euros</p>
      </div>
    </div>
  </div>
</div>

<div id="map" style="height: 700px; width: 1000px"></div>
