.firstGrid {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.secondGrid {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

#titleContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#map {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: #555555 2px solid;
  margin: 0 auto;
}

