.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #778DA9 50%, #E0E1DD 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

body {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr; /* La première grid prend 1/4 de la page, la deuxième prend 3/4 */
  gap: 1rem; /* Espace entre les deux grids */
}

#titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* ajustez la hauteur selon vos besoins */
}


#title {
  font-size: 3.5rem; /* ajustez la taille de police selon vos besoins */
  color: #72a99a;
  font-weight: bold;
}

h1 {
  font-size: 3rem; /* ajustez la taille de police selon vos besoins */
}

.animate__animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 768px) {
  /* Pour les écrans de taille <= 768px */

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #72a99a;
    font-weight: bold;
  }

  .wrapper {
    display: block; /* La grille est supprimée */
  }

  .firstGrid, .secondGrid {
    width: 90%; /* Les deux grilles occupent 100% de la largeur de la page */
    margin-left: auto;
    margin-right: auto;
  }

  .secondGrid {
    margin-top: 100px;
    margin-left: 2em;
  }
}

.firstGrid {
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 2em;
  margin-left: 1.5em;
  padding: 2rem;
}

.secondGrid {
  //  background-color: #f7f7f7;
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 2em;
  padding: 1.5rem;
  margin-right: 2em;
}


